/* Global/App Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
 min-height: 100vh;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #D1D5DB;
}
/* 
body {
  background-color: #D1D5DB;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 16px;
} */

/* #root {
  width: 100%;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
} */
/* 
.app {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
} */